name: Infra Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip make

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Export Secrets for Terraform
        run: |
          echo "TF_VAR_dockerhub_username=${{ secrets.DOCKERHUB_USERNAME }}" >> $GITHUB_ENV
          echo "TF_VAR_dockerhub_token=${{ secrets.DOCKERHUB_TOKEN }}" >> $GITHUB_ENV

      - name: Initialize Terraform
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Deploy Infrastructure
        if: github.ref == 'refs/heads/main'
        run: make deploy

      - name: Cleanup on Failure
        if: failure()
        run: make cleanup